<!--<div class="content">-->
<!--  <app-card title="Forgot Password">-->
<!--    <h4>Forgot password? no problem</h4>-->
<!--    After send emial, please check your mailbox ;)-->
<!--    <form (ngSubmit)="onSubmitRestPass()">-->
<!--      <input-->
<!--      type="text"-->
<!--      placeholder="email"-->
<!--      [(ngModel)]="email"-->
<!--      name="email"-->
<!--      required-->
<!--      />-->
<!--      <button class="btn" type="submit">Send</button>-->
<!--    </form>-->
<!--  </app-card>-->
<!--</div>-->
