@import "../../../assets/colors";

.conversation {
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-right: 0;
    margin: 1em 0;
    width: 100%;
  }
  .message {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 1em;
    border-radius: 12px;
    border: 1px solid $bg-light;
    color: #afafaf;
    word-break: break-all;
    max-width: 80%;
  }
  i {
    margin: 0.4em;
    padding: 0.4em;
    border: 1px solid $bg-light;
    border-radius: 12px;
    width: auto;
    height: fit-content;
  }
  .request {
    justify-content: flex-end;
  }

  .response {
    .type:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: "\2026";
      width: 0px;
    }

    @keyframes ellipsis {
      to {
        width: 16px;
      }
    }

    @-webkit-keyframes ellipsis {
      to {
        width: 16px;
      }
    }
  }
}
.form-control {
  color: #afafaf;
  background-color: #342f44;
  border: none;
}

.form-control:focus {
  border: none;
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);
}
.credits {
  width: 100%;
}
@media (max-width: 767px) {
  .conversation {
    height: 72vh !important;
  }
}
.logOutButton {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top:0;
}
