<div class="container">
  <div #scrollContainer class="conversation mb-5">
    <ng-container *ngIf="conversation.length > 0; else empty">
        <span *ngFor="let item of conversation">
          <div
            class="request row align-items-center"
            *ngIf="item.sender === 'user'"
          >
            <div class="message">
              <span>{{ item.mess }}</span>
            </div>
            <i class="uil uil-user"></i>
          </div>
          <div
            class="response row align-items-center"
            *ngIf="item.sender === 'bot'"
          >
            <i class="uil uil-robot"></i>
            <div class="message">
              <span>{{ item.mess }}</span>
            </div>
          </div>
        </span>
    </ng-container>
    <div class="response row align-items-center" *ngIf="loading">
      <i class="uil uil-robot"></i>
      <div class="message">
        <span class="type">typing</span>
      </div>
    </div>
    <ng-template #empty>
      <div class="row text-center gap-2 justify-content-center">
        <div class="col-lg-3 col-md-5 col-lg-sm-12">
          <div class="mb-2">
            <i class="uil uil-lightbulb-alt"></i>
          </div>
          <h5>Below are sample queries</h5>
          <small>Hi how are you? <br/>Tell me, what city is the capital of Croatia?
            <br/>What's the weather like in Rzeszów today?
          </small>
        </div>
        <div class="col-lg-3 col-md-5 col-lg-sm-12">
          <div class="mb-2">
            <i class="uil uil-bolt-alt"></i>
          </div>
          <h5>Capabilities</h5>
          <small>Answers simple questions<br/>
            can respond to multiple requests<br/>
            Remembers what user said earlier in the conversation
          </small>
        </div>
        <div class="col-lg-3 col-md-5 col-lg-sm-12">
          <div class="mb-2">
            <i class="uil uil-exclamation-octagon"></i>
          </div>
          <h5>Limitations</h5>
          <small>speaks only English <br/>
            sometimes it takes a moment to think ;)
            <br/>
            Does not answer complex questions and issues
          </small>
        </div>
      </div>
    </ng-template>
  </div>
  <textarea
    (keydown.enter)="send()"
    [formControl]="message"
    class="form-control"
    id="message"
    rows="3"
    required
  ></textarea>
</div>
<button (click)="logOut()" class="btn text-white logOutButton">Logout</button>
