$primary: #11A37F;
$primary-hover: #00a37f;
$dark-primary: #00936e;
$black: #000;
$white: #fff;
$dark-grey: #2d333a;
$transparent: transparent;

$bg-dark: #121212;
$bg-light: $white;
$text-light-color: $white;
$text-dark-color: $dark-grey;
